.snapshot {
  position: absolute;
  top: -2048px;
  left: -2048px;
}

.cam-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.cam {
  transition: opacity .15s linear;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.button-container {
  margin: 24px auto;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 16px 24px;
  border: 1px solid #222;
  border-radius: 8px;
  cursor: pointer;
  color: #222;
  background-color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: .2em;
  transition: all .15s linear;
  user-select: none;
}

.button:hover {
  color: #000;
  background-color: #ddd;
}

.button.hide {
  display: none;
}
